{% set pageTitle = "Events" %}

{% extends "layouts/base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<style>
  .bruh {
    width: 80%;
    margin: 0 auto;
  }

</style>
<body>
  <h1 style="font-weight: bold; text-align: center; font-size: 50px;">Event Listing</h1>
  <table class="table table-striped bruh">
    <thead>
      <tr>
        <th scope="col">Dates</th>
        <th scope="col">Tournament</th>
        <th scope="col">Location</th>
        <th scope="col">Registration</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <td>{{ row['date'] }}</td>
        <td>{{ row['tournament'] }}</td>
        <td>{{ row['location'] }}</td>
        <td>{{ row['registration'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</body>
</html>
{% endblock %}