
<html>



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/main.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

    </script>
    {% block meta %}{% endblock %}
</head>



<nav class="navbar navbar-expand-lg navbar-custom ">
    <ul style="padding-left: 45px" class="nav navbar-nav">
        <li class="nav-item">
            <a style="font-size: 20px" class="nav-link" href={{ url_for('index') }}>  Home  </a>
        </li>
    </ul>
    <ul class="nav nav-item navbar-text navbar-nav mr-auto">
        <li style="padding-right: 80px" class="nav navbar-nav navbar-right">
        <li class="nav-item navbar-text">
        <li class="nav-item dropdown navbar-text" id="homeBody">
        <li class="nav-item">
            <a style="font-size: 20px" class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1" type="button">Sports</a>
            <ul style="margin-left: 17em" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href={{ url_for('profiles.fall') }}>Fall</a>
                    <a class="dropdown-item" href={{ url_for('profiles.winter') }}>Winter</a>
                    <a class="dropdown-item" href={{ url_for('profiles.spring') }}>Spring</a>
                </li>
            </ul>
        </li>
        <li style="padding-right: 15px; float: right" class="nav-item">
            <a style="font-size: 20px" class="nav-link" href={{ url_for('search') }}>Find Books</a>
        </li>
    </ul>

</nav>


</div>
<div class="container-fluid content">
    {% block content %}{% endblock %}
</div>
</body>

</html>
