<!DOCTYPE html>
<html lang="en">
{% set pageTitle = "Activity" %}

{% extends "layouts/base.html" %}
{% block content %}

    <body>

    <div id="part1">
        <h1>Team Bonding Warm Up</h1>
      <h3>Enter the event for the person listed</h3>
    </div>
    <div id="part2">
        <p id="Question">Type the <span id="randprompt"></span> of <span id="randpers"></span>!</p>
        <input type="text" id="person_input" value="">

        <button id="enter" onclick="persFxn()">Enter</button>
        <p id="display"></p>
        <p id="display2"></p>

        <button id="Again" onclick="reset();">Play Again</button>

    </div>
    <script>

//inspired by my create task
        let list_main = [
            {
                name: 'Gaurish Gaur',
                event: 'parli',
                eventformal: 'parlimentary',
                color: 'blue',

            },
            {
                name: 'Arjun Suri',
                event: 'pf',
                eventformal: 'public forum',
                color: 'red',

            },
            {
                name: 'Sara Beniwal',
                event: 'speech',
                color: 'green',

            },
            {
                name: 'Karthik Valluri',
                event: 'ld',
                eventformal: 'lincoln douglas',
                color: 'yellow',


            },
            {
                name: 'Kevin',
                event: 'policy',
                color: 'orange',

            },
            {
                name: 'Jonathan Lee',
                event: 'pf',
                eventformal: 'public forum',
                color: 'blue',


            },

        ];


        let length = list_main.length;
        let rnum;
        let randpers;
        let randprompt;

        createrandom(length);
        function createrandom(length){
            rnum = Math.floor(Math.random() * length);
            randpers = list_main[rnum].name;
            document.getElementById("randpers").innerHTML = randpers;

        }

        createprompt();
        function createprompt(){
            dual = Math.floor(Math.random() * 2 );

            if (dual==0){
                randprompt="main event"
            }
            if (dual==1){
                randprompt="favorite color"
            }
            document.getElementById("randprompt").innerHTML = randprompt;

}

        var points = 0 ;
        let count = 0 ;
        function persFxn() {
            count = count + 1;

            let input = document.getElementById('person_input').value
            let modinput= input.toLowerCase();
            if (dual==0) {
                if (modinput == list_main[rnum].event||modinput == list_main[rnum].eventformal){
                message = "Good job, You Receive a Point!";
                points = points + 1;
                tpoints = points;

            }

                else {
                    message = "Sorry, Please Try Again! You have lost a point.";
                    points = points - 1;
                    tpoints=points;

                }


            }

            if (dual==1) {
                if (modinput == list_main[rnum].color){
                    message = "Good job, You Receive a Point!";
                    points = points + 1;
                    tpoints = points;

                }

                else {
                    message = "Sorry, Please Try Again! You have lost a point.";
                    points = points - 1;
                    tpoints=points;

                }


            }

            if (tpoints>=5) {
                message= "Wow you are amazing at this!"

                }





            document.getElementById("display").innerHTML = "Your Score --> " + tpoints;
            document.getElementById("display2").innerHTML =   message ;



        }


        function reset(){
            document.getElementById("display2").innerHTML = "";
            createrandom(length);
            createprompt();
        }
    </script>


    </body>
{% endblock %}