{% extends "layouts/base.html" %}
{% block content %}
<html lang="en">
<style>
    centerblock {
        position: absolute;
        width: 906px;
        height: 333px;
        left: 267px;
        top: 549px;

        background: linear-gradient(98.16deg, #7DACAF 0%, #FFF2C6 100%);
        border-radius: 68px;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1 >Welcome to Del Norte Speech and Debate!</h1>
<centerblock></centerblock>
</body>
</html>
{% endblock %}
