{% extends "layouts/base.html" %}
{% block content %}
<html lang="en">
<style>
    body{
        background-image: url("https://user-images.githubusercontent.com/45216311/168168561-f8a7f76c-f9d6-455c-9323-09fbea3d7fb6.jpg");
        background-size: 100%;
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<centerblock>
    <h1 style="text-align: center">Speech and Debate</h1>
    <h2 style="text-align: center">Del Norte High School</h2>
    <buttonlearn style="text-align: center">Learn More</buttonlearn>
</centerblock>
</body>
</html>
{% endblock %}
